@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading-bar { 0% { transform: scaleX(0); } 100% { transform: scaleX(1); } }
.animate-loading-bar { animation: loading-bar 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards; }
.animate-slide-up { animation: slideUp 0.5s ease-out forwards; }
@keyframes slideUp { from { transform: translateY(100%); opacity: 0; } to { transform: translateY(0); opacity: 1; } }

/* Nasconde la scrollbar ma permette lo scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
